{% extends 'layout.html' %}
{% block title %}
	Home
{% endblock %}
{% block nav %}
<div class="right menu">
	<button class="user-btn ui inverted basic button">
		<i class="icon user"></i>
		{{ user.username }}
	</button>
</div>
{% endblock %}
{% block body %}
<div class="user-popup ui popup">
	<div class="ui secondary vertical pointing menu">
		<a href="/profile" class="item">
			<i class="user icon"></i>
			Profile
		</a>
		<a href="/settings" class="item">
			<i class="settings icon"></i>
			Settings
		</a>
		<a href="/logout" class="item">
			<i class="arrow circle right icon"></i>
			Log out
		</a>
	</div>
</div>
home
{% endblock %}