{% extends 'layout.html' %}
{% block title %}
	Title
{% endblock %}
{% block nav %}
<a href="" class="item">About</a>
<div class="right menu">
	<button class="login-btn ui inverted blue basic button">Log in</button>
	<button href="/register" class="register-btn ui inverted green basic button">Register</button>
</div>
{% endblock %}
{% block heading %}
<div class="heading">
	<h1 class="ui center aligned header">Welcome</h1>
	<h2 class="ui center aligned header">Communicate, Connect, Experience</h2>
	<div class="ui grid">
		<div class="four column centered row">
			<div class="column">
				<div class="gs-btn big fluid ui animated green button" tabindex="0">
					<div class="visible content">Get Started</div>
					<div class="hidden content">
						<i class="right arrow icon"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block body %}
<div class="login-popup ui popup">
	<form action="{{ url_for('index') }}" method="POST" class="login-form ui form">
		{{ form.csrf_token }}
		<div class="field">
			{{ form.username }}
		</div>
		<div class="field">
			{{ form.password }}
		</div>
		<button class="fluid ui blue button">Enter</button>
	</form>
</div>
{% if form.errors %}
    {{ form.errors }}
{% endif %}
{% endblock %}