<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- Semantic CSS -->
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
	<style type="text/css">
		.bigbox {
			background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/static/assets/gathering.jpg") !important;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			background-position: bottom center !important;
		}
		.ui.segment {
			border-radius: 0;
			margin-bottom: 0;
		}
		.main {
			/*margin-top: 20px;*/
		}
		.logo {
			font-family: 'Courgette', cursive;
			font-size: 1.1em;
		}
		h1.ui.header {
			font-size: 3rem;
			color: white;
			margin-top: 140px;
		}
		h2.ui.header {
			color: #eee;
			margin-top: 10px;
		}
		.heading {
			padding: 142px;
		}
		.main.ui.container {
			margin-top: 100px;
			margin-bottom: 100px;
		}

		.msg-grid {
			width: 100%;
			height: 100px;
			top: 50%;
			position: absolute;
			-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);
		}
		.msg-grid h1.header {
			color: #1b1c1d !important;
			font-weight: 700;
			font-family: 'Roboto', sans-serif;
		}
		.msg-grid h2.header {
			color: #1b1c1d !important;
			font-weight: 300;
			font-family: 'Roboto', sans-serif;
		}
	</style>
	<title>{% block title%}{% endblock %}</title>
</head>
<body>
<!-- Header, Nav -->
<div class="ui inverted segment">
	<div class="ui container">
		<div class="ui inverted secondary pointing menu">
			<a href="
			{% if current_user.is_authenticated %}
				/home
			{% else %}
				/
			{% endif %}
			" class="logo active item">lean</a>
			{% block nav %}{% endblock %}
		</div>
		{% block heading %}{% endblock %}
	</div>
</div>
<!-- Body -->
<div class="main ui container">
{% block body %}{% endblock %}
</div>
<!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.login-btn').popup({
			popup: $('.login-popup'),
			on: 'click'
		});
		$('.register-btn').click(function() {
			window.location = '/register';
		});
		$('.gs-btn').click(function() {
			window.location = '/register';
		});
		$('.user-btn').popup({
			popup: $('.user-popup'),
			on: 'click'
		});
		$('.ui.dropdown').dropdown();
		$('.menu .item').tab();

		if (window.location.pathname == "/") {
			$('div').first().addClass('bigbox');
		}
	});
</script>
<!-- Semantic JS -->
<script src="static/semantic/dist/semantic.min.js"></script>
</body>
</html>