{% extends 'layout.html' %}
{% block title %}
	Unauthorized
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
	<div class="ui negative message">
		<div class="header">
			You need to be logged in
		</div>
	</div>
{% endblock %}
{{ redirect(url_for('index')) }}