{% extends 'layout.html' %}
{% block title %}
	Register
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
<div class="ui grid">
	<div class="two column row">
		<div class="column">
			<div class="msg-grid ui centered grid">
				<div class="four column row">
					<div class="twelve wide column">
						<h1 class="ui header">
							Join Lean
						</h1>
						<h2 class="ui header">
							Access a fun social space to view thousands of events to attend
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui centered grid">
				<div class="four column row">
					<div class="twelve wide column">
						<div class="ui top attached tabular menu">
						<a class="active item" data-tab="first">User</a>
						<a class="item" data-tab="second">Organization</a>
					</div>
					<div class="ui bottom attached active tab segment" data-tab="first">
						<form action="{{ url_for('register') }}" method ="POST" class="ui form">
							{{ userForm.csrf_token }}
							<div class="field">
								<label>Email</label>
								{{ userForm.email }}
							</div>
							<div class="field">
								<label>Username</label>
								{{ userForm.username }}
							</div>
							<div class="field">
								<label>Name</label>
								{{ userForm.fullname }}
							</div>
							<div class="field">
								<label>Date of Birth</label>
								<div class="three fields">
									<div class="field">
										{{ userForm.month(class_="ui fluid dropdown") }}
									</div>
									<div class="field">
										{{ userForm.day(class_="ui fluid dropdown") }}
									</div>
									<div class="field">
										{{ userForm.year(class_="ui fluid dropdown") }}
									</div>
								</div>
							</div>
							<div class="field">
								<label>Gender</label>
								{{ userForm.gender(class_="ui fluid dropdown") }}
							</div>
							<div class="field">
								<label>Password</label>
								{{ userForm.password }}
							</div>
							<div class="field">
								<label>Confirm password</label>
								{{ userForm.confirm }}
							</div>
							<button class="fluid ui green button">Register</button>
						</form>
					</div>
					<div class="ui bottom attached tab segment" data-tab="second">
						<form action="{{ url_for('register') }}" method ="POST" class="ui form">
							{{ orgForm.csrf_token }}
							<div class="field">
								<label>Email</label>
								{{ orgForm.email }}
							</div>
							<div class="field">
								<label>Username</label>
								{{ orgForm.username }}
							</div>
							<div class="field">
								<label>Name</label>
								{{ orgForm.name }}
							</div>
							<div class="field">
								<label>Location</label>
								{{ orgForm.location }}
							</div>
							<div class="field">
								<label>Telephone</label>
								{{ orgForm.telephone }}
							</div>
							<div class="field">
								<label>Website</label>
								{{ orgForm.website }}
							</div>
							<div class="field">
								<label>Password</label>
								{{ orgForm.password }}
							</div>
							<div class="field">
								<label>Confirm password</label>
								{{ orgForm.confirm }}
							</div>
							<button class="fluid ui green button">Register</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% if userForm.errors %}
    {{ userForm.errors }}
{% endif %}
{% if orgForm.errors %}
    {{ orgForm.errors }}
{% endif %}
{% endblock %}